*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  width: 512px;
}

/* Header */
header {
  padding: 15px;
}

/* Main */
main {
  padding: 15px 25px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* Main Cards */
.card {
  padding: 20px 15px;
  margin-bottom: 15px;
  border: 2px solid black;
}

/* Footer */

footer {
  padding: 10px 15px;
}

span {
  color: rgb(11, 34, 211);
}