*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  width: 512px;
}

/* Header */
header {
  padding: 15px;
  border-bottom: 2px solid black;
}

/* Main */
main {
  padding: 15px 25px;
  /* border: 1px dotted #323232; */
}

/* Main Cards */
.card {
  padding: 20px 15px;
  margin-bottom: 15px;
  border: 2px solid black;
}