*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  padding: 15px;
  border-bottom: 2px solid black;
}

/* Main Cards */
.card {
  padding: 20px 15px;
  margin-bottom: 15px;
  border: 2px solid black;
}